<div class="p-4 shadow-4 mb-5 rounded-3 jumbo h">
  <div class="container">
    <h1 class="display-4"><%= post.title %></h1>
    <p class="text-muted"> <em>Posted <%= time_ago_in_words post.created_at %> ago. </em> </p>
  </div>
</div>
<div class="container">
  <div id="<%= dom_id post %>">
    <% unless action_name == 'index' %>
      <%= image_tag(post.image, class: 'float-end mb-4 ml-4') if post.image.present? %>
    <% end %>
    <%= simple_format post.body %>
    <% unless action_name == 'index' %>
      <p><%= link_to 'View latest blog posts', blog_path %></p>
    <% end %>
  </div>
</div>
